* {
  margin: 0;
}

div.container {
  display: block;
  margin: auto;
  margin-top: 20%;
  width: 400px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 5px;
}

div.error {
  font-family: sans-serif;
  background-color: red;
  color: white;
  margin: auto;
  padding: 1.5px;
}

div.todos {
  font-family: sans-serif;
  background-color: #fcfcfc;
  text-decoration-color: black;
  margin: auto;
  padding: 1.5px;
}

ul {
  list-style: none
}

#high {
  background: #B92932;
  color: white;
}

#medium {
  background: #B9B029;
  color: white;
}

#low {
  background: #32B929;
  color: white;
}
